/* main */

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: poppins, sans-serif;
  overflow-x: auto;
}

.app {
  display: flex;
  position: relative;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffd300;
}



.insImage {
  max-width: 150px;
}